/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Barlow');


body{
    font-family: 'Barlow', serif;
    background-color: white;
    color: black;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #0f9da8;
}

.mat-drawer-container {
    background-color: white;
}

.mat-card {
    background: white;
    color: black;
    /*border: 0.5px solid #11bdf9;*/
}

.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
    background-color: #959492;
    color: white;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #0f9da8;
}

.mat-drawer {
    background-color: white;
    color: black;
    border-left: 0.5px solid #0f9da8;
}

.mat-drawer.mat-drawer-end {
    top: 0.8em;
}

/*body{*/
    /*font-family: 'Barlow', serif;*/
    /*background-color: #42413D;*/
    /*color: white;*/
/*}*/

/*.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {*/
    /*background-color: #FFCE2B;*/
/*}*/

/*.mat-drawer-container {*/
    /*background-color: #42413D;*/
/*}*/

/*.mat-card {*/
    /*background: #42413D;*/
    /*color: white;*/
    /*border: 0.5px solid #FFCE2B;*/
/*}*/

/*.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {*/
    /*background-color: #959492;*/
    /*color: white;*/
/*}*/

/*.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {*/
    /*background-color: #FFCE2B;*/
/*}*/

/*.mat-drawer {*/
    /*background-color: #42413D;*/
    /*color: white;*/
    /*border: 0.5px solid #FFCE2B;*/
/*}*/

/*.mat-drawer.mat-drawer-end {*/
    /*top: 0.8em;*/
/*}*/

