.basket-item-image {
    max-height:  5.8em;
    max-width: 5.8em;
}

.continue-button {
    left: 0.3em;
}

.basket-title {
    text-align: center;
    padding-bottom: 1em;
}


.basket-page {
    color: white;
}

.mat-button, .mat-icon-button, .mat-raised-button {
    color: black;
}
