<div class="basket-page">

  <div class="basket-title">
    <h1 class="color-font">Checkout</h1>
    <button mat-raised-button [routerLink]="'/products'">Continue Shopping</button>
  </div>

  <mat-grid-list cols="5" rowHeight="4em">
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
            <b>Name</b>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      <b>Image</b>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      <b>Category</b>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      <b>Price</b>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      <button mat-raised-button color="warn" (click)="onEmptyBasket()">EMPTY BASKET</button>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
  <!--List of rows-->
  <mat-grid-list cols="5" rowHeight="6em" *ngFor="let basketProduct of basketProducts">
    <!--Columns-->
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
            {{basketProduct.name}}
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
            <img class="basket-item-image" src="{{basketProduct.img}}" alt="Image">
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      {{basketProduct.category}}
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
            {{basketProduct.price}} PLN
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      <button mat-raised-button color="warn" (click)="onRemoveItem(basketProduct)">X</button>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="5" rowHeight="6em">
    <hr>
    <mat-grid-tile class="continue-button"
            [colspan]=4
            [rowspan]=1>
    </mat-grid-tile>
      <!--empty place-->

    <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
      <b class="color-font">Total: {{basketTotal}} PLN</b>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="5" rowHeight="3em">
    <form [hidden]="basketTotal === 0" #emailForm="ngForm" (ngSubmit)="login(email.value, password.value); logForm.reset()">
      <mat-grid-tile
              [colspan]=5
              [rowspan]=1>

        <mat-form-field>
          <input  name="email" email placeholder="E-mail" matInput #email required >
          <mat-error >Invalid Email</mat-error>
        </mat-form-field>

      </mat-grid-tile>
    </form>

    <mat-grid-tile
      [colspan]=5
      [rowspan]=1>
      <div [hidden]="!emailForm.form.valid || basketTotal === 0" id="paypal-button"></div>
    </mat-grid-tile>

  </mat-grid-list>

</div>




