.basket-item-image {
    max-height:  5.8em;
    max-width: 5.8em;
}

.continue-button {
    left: 0.3em;
}

.basket-title {
    text-align: center;
    padding-bottom: 1em;
}


.basket-page {
    color: black;
}

.mat-button, .mat-icon-button, .mat-raised-button {
    color: white;

}

input {
    margin-left: 1em;
}

.mat-button[_ngcontent-c11], .mat-icon-button[_ngcontent-c11], .mat-raised-button[_ngcontent-c11] {
    color: black;
}

.color-font {
    color: #0f9da8;
}