div {
    font-family: 'Barlow', serif;
}

img {
    max-height: 10em;
    max-width: 10em;
}

.mat-card-image:first-child {
    margin-top: 0.05em;
}

ul {
    list-style-type: none;
    font-family: 'Barlow', serif;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', serif;
    
}

.example-sidenav {
    padding: 1em;
    min-width: 12em;
    /*border: 0.05em solid rgba(80, 83, 104, 0.945);*/
    text-align: center;
    font-family: 'Barlow', serif;
}

.example-fab.mat-fab {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    font-family: 'Barlow', serif;
}

.example-fab-cat {
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    font-family: 'Barlow', serif;
}

.product-card {
    text-align: center;
    min-width: 10em;
    min-height: 15em;
    height: 80%;
    width: 75%;
    font-family: 'Barlow', serif;
}

.basket-list {
    text-align: center;
    font-family: 'Barlow', serif;
    font-size: 1em;
}

.empty-line {
    height: 0.5em;
}

.under-item {
    padding-top: 1.3em;
    padding-bottom: 0.7em;
}



