a:hover {
    color: #fee761;

}

.mat-toolbar {
    background-color: transparent;

}

.header__logo {
    font-size: larger;
    font-family: 'Barlow', serif;
    text-decoration: none;
    color: #FFCE2B;
}

