a:hover {
    color: #12bcc9;

}

.mat-toolbar {
    background-color: transparent;

}

.header__logo {
    font-size: larger;
    font-family: 'Barlow', serif;
    text-decoration: none;
    color: #0f9da8;
}

